/* Common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}
.page-header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-navigation {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  position: relative;
}
.menu-list:last-child {
  margin-right: 0;
}
.menu-link {
  padding: 24px 0;
}

.address-navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.address-navigation:last-child {
  margin-right: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.address {
  font-style: normal;
}
.stylesheet {
  color: #2e2f42;
}

.logotype {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  margin-right: 76px;
  text-transform: uppercase;
  display: block;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.navigation-list {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

/* Header steles=============================== */
/* MAin Content */

/* hero sect */
.decor {
  position: relative;
  color: #404bbf;
}
.decor::after {
  content: "";
  display: block;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  border-radius: 2px;
}
.section-advantages {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #fff;
}
.hero-head-one {
  padding-top: 188px;
  padding-right: 331px;
  padding-bottom: 292px;
  padding-left: 331px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-sect {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-3 {
  background: var(--CLOUD, #f4f4fd);
}

.main-hero-head {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-service-but {
  color: var(--WHITE, #fff);
  background: var(--IRIS, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
  display: block;
  align-items: center;
  padding: 16px 32px;
  border: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
}
.order-service-but:hover,
.order-service-but:focus {
  background: var(--OCEAN, #404bbf);
  color: var(--WHITE, #fff);
}

/* Section1 */
.icon-two {
  display: flex;
  gap: 24px;
}
.icon-three {
  width: calc((100% - 72px) / 4);
}
.advantages-list-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantages-icon {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  fill: none;
}
.menu-advantages {
  display: flex;
  gap: 24px;
}
.advantages-item-two {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.menu-advantages:last-child {
  margin-right: 0;
}
.our-advantages {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* our team */
.our-team-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.our-team-social-icon-item {
  width: 40px;
  height: 40px;
}
.our-team-social-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-social-icon-link:hover,
.our-team-social-icon-link:focus {
  background-color: #404bbf;
}

.our-team-social-link-icon {
  fill: #f4f4fd;
}
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
  flex-shrink: 0;
}
.our-team-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  gap: 24px;
}
.our-team-menu:last-child {
  margin-right: 0;
}
.our-team-menu:first-child {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.our-team-border {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  padding: 32px 0;
}
.skills {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.strategy {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.our-team {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-left: 480px;
  margin-right: 480px;
  margin-bottom: 72px;
}

.our-team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-sec {
  background-color: #f4f4fd;
}
.teamets {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.position {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* portfolio */
.image-app-container {
  position: relative;
  overflow: hidden;
}
.text-app {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .text-app {
  transform: translateY(0%);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-section {
  background-color: #ffffff;
  padding: 120px 0 120px 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  column-gap: 24px;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:nth-child(2n + 1) {
  padding-right: 0;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
.portfolio {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  border-top: none;
}
.services {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.referral {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer */
.page-footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-link-name {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.logotype-footer-container {
  margin-right: 120px;
}
.footer-social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logotype-footer {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foter-item {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background: var(--NAVY-BLUE, #2e2f42);
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 264px;
}
.span-footer {
  color: #f4f4fd;
}

/*                          backdrop styles                         */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: var(--DAIRY, #fcfcfc);
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: #ffffff;
}

.review-form-description {
  width: 360px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
/* ======================fooooter form */
.footer-form-title {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.form-footer {
  display: flex;
  gap: 24px;
}
.footer-label {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  color: #ffffff;
  background-color: transparent;
  margin-left: 80px;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  min-width: 165px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-foter {
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}
.footer-btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  fill: #ffffff;
}
/* =================modal Form */
.review-form-field-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field:focus {
  border: 1px solid #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-wrapper-tex {
  margin-bottom: 16px;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}
.review-form-message:focus {
  border: 1px solid #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}
.privacy-police-link {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
  fill: #f4f4fd;
}
.review-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.04em;
}
